/*not available*/
.message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10% 0;
    justify-content: space-between;

}

.message {
    place-self: center;
}
