.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    /* 3 */
}

.hero-content {
    position: relative;
    top: 2rem;
    width: 200px;
    background: white;
    padding: 2rem;
    text-align: left;
    margin: 0 auto;
}

.hero-content .subtitle {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.hero-content .text {
    margin-bottom: 0;
    font-size: 0.9rem;
}

@media (min-width: 920px) {
    .hero {
        height: 400px;
        background-position: 0% 33%;
    }

    .hero-content {
        position: absolute;
        top: 50px;
        right: 50px;
        width: 300px;
        margin: 2rem;
    }

    .hero-content .subtitle {
        font-size: 1.5rem;
    }

    .hero-content .text {
        font-size: 1.2rem;
    }
}