.main {
    flex: 1;
    padding: 1rem;
}

.bg-dark {
    background-color: #12002b;
}


.sign-in-content {
    box-sizing: border-box;
    background-color: white;
    width: 300px;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
}

.sign-in-icon {
    font-size: 5rem;
}